/* ***************** slide show *************** */

.responsive {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  animation: animate 10s linear infinite;
}
.container .slider .slide {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}
.container .slider .slide .caption {
  position: absolute;
  bottom: 60px;
  left: 60px;
  right: 60px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: 0.5s;
}
.container .slider .slide .caption h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font-size: 48px;
  transition: 0.5s;
}
.container .slider .slide .caption p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
}
.container .slider .slide.slide1 {
  background: url(../images/img4.jpg);
  background-size: cover;
  background-position: center;
}
.container .slider .slide.slide2 {
  background: url(../images/img2.jpeg);
  background-size: cover;
  background-position: center;
}
.container .slider .slide.slide3 {
  background: url(../images/img3.jpg);
  background-size: cover;
  background-position: center;
}
.container .slider .slide.slide4 {
  background: url(../images/img5.png);
  background-size: cover;
  background-position: center;
}
@keyframes animate {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@media (max-width: 768px) {
  .container .slider .slide .caption {
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 20px;
  }
  .container .slider .slide .caption h2 {
    margin: 0 0 10px;
    font-size: 30px;
  }
  .container .slider .slide .caption p {
    font-size: 16px;
  }
}

/* ***************** Service menues *************** */
.footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.serviceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.serviceContainer .servicebox {
  position: relative;
  width: 350px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.serviceContainer .servicebox::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  pointer-events: none;
}
.serviceContainer .servicebox .icon {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}
.serviceContainer .servicebox:nth-child(1) .icon {
  box-shadow: 0 0 0 0 #e91e63;
  background: #e91e63;
}
.serviceContainer .servicebox:nth-child(1):hover .icon {
  box-shadow: 0 0 0 400px #e91e63;
}
.serviceContainer .servicebox:nth-child(2) .icon {
  box-shadow: 0 0 0 0 #23e629;
  background: #23e629;
}
.serviceContainer .servicebox:nth-child(2):hover .icon {
  box-shadow: 0 0 0 400px #23e629;
}
.serviceContainer .servicebox:nth-child(3) .icon {
  box-shadow: 0 0 0 0 #2196f3;
  background: #2196f3;
}
.serviceContainer .servicebox:nth-child(3):hover .icon {
  box-shadow: 0 0 0 400px #2196f3;
}
.serviceContainer .servicebox .content {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
.serviceContainer .servicebox:hover .content {
  color: #fff;
}
.serviceContainer .servicebox .content h3 {
  font-size: 20px;
  margin: 10px 0;
  padding: 0;
}
.serviceContainer .servicebox .content p {
  margin: 0;
  padding: 0;
}
button {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.ContainerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Contentbox {
  position: relative;
  width: 650px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

@media (max-width: 600px) {
  .serviceContainer {
    display: block;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .serviceContainer {
    display: block;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .serviceContainer {
    display: block;
    flex-wrap: wrap;
  }
}

/* ***************** how it works *************** */
.text {
  text-align: center;
}
.finalfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.howWorkContainer {
  position: relative;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.howWorkContainer .card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.howWorkContainer .card:nth-child(even) {
  flex-direction: column-reverse;
}
.howWorkContainer .card .imgBox {
  position: relative;
  width: 250px;
  height: 250px;
  background: #000;
}
.howWorkContainer .card .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.howWorkContainer .card .contentForWork {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.howWorkContainer .card .contentForWork div {
  padding: 20px;
  text-align: center;
}
@media (max-width: 1150px) {
  .howWorkContainer {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin: 50px;
  }
  .howWorkContainer .card {
    flex-direction: row;
    margin: 10px 0;
  }
  .howWorkContainer .card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .howWorkContainer .card .imgBox,
  .howWorkContainer .card .contentForWork {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .howWorkContainer .card {
    flex-direction: column;
    margin: 10px 0;
  }
  .howWorkContainer .card:nth-child(even) {
    flex-direction: column;
  }
  .howWorkContainer .card .imgBox,
  .howWorkContainer .card .contentForWork {
    width: 100%;
  }
  .howWorkContainer .card .contentForWork {
    height: 200px;
  }
}
