* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
/* ************ tabs css******************* */
p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  text-align: justify;
}
a:hover {
  text-decoration: none;
}

.sexytabs > ul {
  text-align: center;
  font-weight: 400;
  margin: 50px 0 0;
  padding: 0;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.sexytabs > ul > li {
  display: inline-block;
  background: #fafafa;
  padding: 0.6em 0;
  position: relative;
  width: 33%;
  margin: 0 0 0 -4px;
}
.sexytabs > ul > li:before,
.sexytabs > ul > li:after {
  opacity: 0;
  transition: 0.3s ease;
}
.sexytabs > ul > li.ui-tabs-active:before,
.sexytabs > ul > li.ui-tabs-active:after,
.sexytabs > ul > li.ui-state-hover:before,
.sexytabs > ul > li.ui-state-hover:after,
.sexytabs > ul > li.ui-state-focus:before,
.sexytabs > ul > li.ui-state-focus:after {
  opacity: 1;
}
.sexytabs > ul > li:before,
.sexytabs > ul > li.ui-state-active.ui-state-hover:before,
.sexytabs > ul > li.ui-state-active.ui-state-focus:before {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 2px 3px rgba(22, 195, 255, 0.5);
  top: 50%;
  bottom: 0px;
  left: 5px;
  right: 5px;
  border-radius: 100px / 10px;
}
.sexytabs > ul > li:after,
.sexytabs > ul > li.ui-state-active.ui-state-hover:after,
.sexytabs > ul > li.ui-state-active.ui-state-focus:after {
  content: "";
  background: #fafafa;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  transform: rotate(45deg);
  box-shadow: inset 3px 3px 3px rgba(22, 195, 255, 0.5),
    inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.sexytabs > ul > li.ui-state-hover:before,
.sexytabs > ul > li.ui-state-focus:before {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.sexytabs > ul > li.ui-state-hover:after,
.sexytabs > ul > li.ui-state-focus:after {
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2),
  inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.sexytabs > ul > li.ui-state-focus a {
  text-decoration: underline;
}
.sexytabs > ul > li:focus {
  outline: none;
}
.sexytabs > ul > li a {
  color: #444;
  text-decoration: none !important;
}
.sexytabs > ul > li a:focus {
  outline: none;
  text-transform: none;
}
.sexytabs > ul > li a span {
  position: relative;
  top: -0.5em;
}
.sexytabs.dark > ul {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}
.sexytabs.dark > ul > li {
  background: #333;
}
.sexytabs.dark > ul > li:before,
.sexytabs.dark > ul > li.ui-state-active.ui-state-hover:before,
.sexytabs.dark > ul > li.ui-state-active.ui-state-focus:before {
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.3);
}
.sexytabs.dark > ul > li:after,
.sexytabs.dark > ul > li.ui-state-active.ui-state-hover:after,
.sexytabs.dark > ul > li.ui-state-active.ui-state-focus:after {
  background: #333;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.3),
    inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.sexytabs.dark > ul > li.ui-state-hover:before,
.sexytabs.dark > ul > li.ui-state-focus:before {
  box-shadow: none;
}
.sexytabs.dark > ul > li.ui-state-hover:after,
.sexytabs.dark > ul > li.ui-state-focus:after {
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4);
}
.sexytabs.dark > ul > li a {
  color: white;
}
img {
  width: 60px;
  float: left;
  margin: 0 1em 1em 0;
  border-radius: 3px;
}
body {
  font-size: 1em;
  background: #fafafa;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
h1 {
  text-align: center;
  font-size: 20px;
}
.sexytabs {
  width: 90%;
  min-width: 360px;
  margin: auto;
}
.contents {
  padding: 20px 50px;
  min-height: 200px;
}
.darkpage {
  background: #333;
  color: white;
}
.darkpage,
.lightpage {
  padding: 50px 0;
}
@media screen and (min-width: 1000px) {
  .darkpage,
  .lightpage {
    width: 50%;
    float: left;
    padding: 0;
  }
}

/* ******************** tables css ******************** */

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: #009879;
	color:#ffffff;
}
.darkpage .table tbody tr:nth-child(even){
  color: #ffffff;
}

.table tbody tr:nth-child(even){
  color: #333;
}
.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

